@model ShoppingCart
<!-- content -->
<form method="post">
    <input hidden asp-for="ProductId"/>
    <section class="py-5">
        <div class="container">
            <div class="row gx-5">
                <aside class="col-lg-6">
                    <div class="border rounded-4 mb-3 d-flex justify-content-center">
                        <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="@Model.Product.ImageUrl" />
                    </div>
                    <div class="d-flex justify-content-center mb-3">
                        <a data-fslightbox="mygalley" class="border mx-1 rounded-2 item-thumb" target="_blank" data-type="image" href="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/detail1/big1.webp">
                            <img width="60" height="60" class="rounded-2" src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/detail1/big1.webp" />
                        </a>
                        <a data-fslightbox="mygalley" class="border mx-1 rounded-2 item-thumb" target="_blank" data-type="image" href="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/detail1/big2.webp">
                            <img width="60" height="60" class="rounded-2" src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/detail1/big2.webp" />
                        </a>
                        <a data-fslightbox="mygalley" class="border mx-1 rounded-2 item-thumb" target="_blank" data-type="image" href="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/detail1/big3.webp">
                            <img width="60" height="60" class="rounded-2" src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/detail1/big3.webp" />
                        </a>
                        <a data-fslightbox="mygalley" class="border mx-1 rounded-2 item-thumb" target="_blank" data-type="image" href="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/detail1/big4.webp">
                            <img width="60" height="60" class="rounded-2" src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/detail1/big4.webp" />
                        </a>
                        <a data-fslightbox="mygalley" class="border mx-1 rounded-2 item-thumb" target="_blank" data-type="image" href="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/detail1/big.webp">
                            <img width="60" height="60" class="rounded-2" src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/detail1/big.webp" />
                        </a>
                    </div>
                    <!-- thumbs-wrap.// -->
                    <!-- gallery-wrap .end// -->
                </aside>
                <main class="col-lg-6">
                    <div class="ps-lg-3">
                        <h4 class="title text-dark">
                            @Model.Product.Name
                        </h4>
                        <div class="d-flex flex-row my-3">
                            <div class="text-warning mb-1 me-2">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <span class="ms-1">
                                    4.5
                                </span>
                            </div>
                            <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i>154 orders</span>
                            <span class="text-success ms-2">In stock</span>
                        </div>
                        <h6>Giá thị trường: <i>@Model.Product.MarketPrice.ToString("0,0 đ")</i></h6>
                        <div class="mb-3">
                            <span class="h5 text-warning"><strong><u>@Model.Product.Price.ToString("0,0 đ")</u></strong></span>
                            <span class="text-muted">/ sản phẩm</span>
                        </div>

                        <p>
                            @Html.Raw(Model.Product.RecommendedUsage)
                        </p>

                        <div class="row">
                            <div class="col-3">Type:</div>
                            <div class="col-9">Regular</div>

                            <div class="col-3">Material</div>
                            <div class="col-9">Cotton, Jeans</div>

                            <div class="col-3">Thương hiệu</div>
                            <div class="col-9">@Model.Product.Brand.Name</div>
                        </div>

                        <hr />

                        <div class="row mb-4">
                            <div class="col-md-4 col-6">
                                <label class="mb-2">Màu sắc</label>
                                <select class="form-select border border-secondary" style="height: 35px;">
                                    <option>Đỏ</option>
                                    <option>Vàng</option>
                                    <option>Xanh</option>
                                </select>
                            </div>
                            <!-- col.// -->
                            <div class="col-md-4 col-6 mb-3">
                                <label class="mb-2 d-block">Số lượng</label>
                                <div class="input-group mb-3" style="width: 170px;">
                                    <div class="input-group mb-3">
                                        <input asp-for="Count" type="number" value="1" class="form-control text-center border border-secondary" placeholder="14" aria-label="Example text with button addon" aria-describedby="button-addon1" />
                                        <span class="input-group-text bg-primary text-light">Sản phẩm</span>
                                    </div>
                                   
                                    
                                </div>
                            </div>
                        </div>
                        <a href="#" class="btn btn-warning shadow-0"> Mua ngay </a>
                        <button type="submit" class="btn btn-primary shadow-0"> <i class="me-1 fa fa-shopping-basket"></i> Thêm vào giỏ </button>
                        <a href="#" class="btn btn-danger shadow-0"> <i class="fa fa-heart fa-lg"></i> Save </a>
                    </div>
                </main>
            </div>
        </div>
    </section>
    <!-- content -->

    <section class="bg-light border-top py-4">
        <div class="container">
            <div class="row gx-4">
                <div class="col-lg-8 mb-4">
                    <div class="border rounded-2 px-3 py-2 bg-white">
                        <!-- Pills navs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item col-3" role="presentation">
                                <a class="nav-link active text-center bg-info text-light" data-bs-toggle="tab" href="#productInfo" aria-selected="true" role="tab">Thông tin sản phẩm</a>
                            </li>
                            <li class="nav-item col-3" role="presentation">
                                <a class="nav-link text-center text-light bg-success" data-bs-toggle="tab" href="#recommendedUsage" aria-selected="false" role="tab" tabindex="-1">Hướng dẫn sử dụng</a>
                            </li>
                            <li class="nav-item col-3" role="presentation">
                                <a class="nav-link text-center text-light bg-dark" data-bs-toggle="tab" href="#warrantyPolicy" aria-selected="false" role="tab" tabindex="-3">Chính sách bảo hành</a>
                            </li>
                            <li class="nav-item col-3" role="presentation">
                                <a class="nav-link text-center text-light bg-warning" data-bs-toggle="tab" href="#comment" aria-selected="false" role="tab" tabindex="-2">Đánh giá</a>
                            </li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active show" id="productInfo" role="tabpanel">
                                <p>@Html.Raw(Model.Product.ProductInfo)</p>
                            </div>
                            <div class="tab-pane fade" id="recommendedUsage" role="tabpanel">
                                <p>@Html.Raw(Model.Product.RecommendedUsage)</p>
                            </div>
                            <div class="tab-pane fade" id="warrantyPolicy" role="tabpanel">
                                <p></p>
                            </div>
                            <div class="tab-pane fade" id="comment" role="tabpanel">
                                <p></p>
                            </div>
                        </div>
                        <!-- Pills content -->
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="px-0 border rounded-2 shadow-0">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Similar items</h5>
                                <div class="d-flex mb-3">
                                    <a href="#" class="me-3">
                                        <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/8.webp" style="min-width: 96px; height: 96px;" class="img-md img-thumbnail" />
                                    </a>
                                    <div class="info">
                                        <a href="#" class="nav-link mb-1">
                                            Rucksack Backpack Large <br />
                                            Line Mounts
                                        </a>
                                        <strong class="text-dark"> $38.90</strong>
                                    </div>
                                </div>

                                <div class="d-flex mb-3">
                                    <a href="#" class="me-3">
                                        <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/9.webp" style="min-width: 96px; height: 96px;" class="img-md img-thumbnail" />
                                    </a>
                                    <div class="info">
                                        <a href="#" class="nav-link mb-1">
                                            Summer New Men's Denim <br />
                                            Jeans Shorts
                                        </a>
                                        <strong class="text-dark"> $29.50</strong>
                                    </div>
                                </div>

                                <div class="d-flex mb-3">
                                    <a href="#" class="me-3">
                                        <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/10.webp" style="min-width: 96px; height: 96px;" class="img-md img-thumbnail" />
                                    </a>
                                    <div class="info">
                                        <a href="#" class="nav-link mb-1"> T-shirts with multiple colors, for men and lady </a>
                                        <strong class="text-dark"> $120.00</strong>
                                    </div>
                                </div>

                                <div class="d-flex">
                                    <a href="#" class="me-3">
                                        <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/11.webp" style="min-width: 96px; height: 96px;" class="img-md img-thumbnail" />
                                    </a>
                                    <div class="info">
                                        <a href="#" class="nav-link mb-1"> Blazer Suit Dress Jacket for Men, Blue color </a>
                                        <strong class="text-dark"> $339.90</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>