@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!-- intro -->
    <section class="pt-3">
        <div class="container">
            <div class="row gx-3">
                <main class="col-lg-9">
                    <div class="card-banner p-5 bg-primary rounded-5" style="height: 350px;">
                        <div style="max-width: 500px;">
                            <h2 class="text-white">
                                Great products with <br />
                                best deals
                            </h2>
                            <p class="text-white">No matter how far along you are in your sophistication as an amateur astronomer, there is always one.</p>
                            <a href="#" class="btn btn-light shadow-0 text-primary"> View more </a>
                        </div>
                    </div>
                </main>
                <aside class="col-lg-3">
                    <div class="card-banner h-100 rounded-5" style="background-color: #f87217;">
                        <div class="card-body text-center pb-5">
                            <h5 class="pt-5 text-white">Amazing Gifts</h5>
                            <p class="text-white">No matter how far along you are in your sophistication</p>
                            <a href="#" class="btn btn-outline-light"> View more </a>
                        </div>
                    </div>
                </aside>
            </div>
            <!-- row //end -->
        </div>
        <!-- container end.// -->
    </section>
    <!-- intro -->
    <!-- category -->
    <section>
        <div class="container pt-5 mb-3">
            <nav class="row gy-4">
                <div class="col-lg-6 col-md-12">
                    <div class="row">
                        <div class="col-3">
                            <a href="#" class="btn btn-outline-secondary mx-auto p-3 mb-2" data-mdb-ripple-color="dark">
                                <i class="fas fa-couch fa-xl fa-fw"></i>
                            </a>
                            <div class="text-dark">Interior items</div>
                        </div>
                        <div class="col-3">
                            <a href="#" class="btn btn-outline-secondary mx-auto p-3 mb-2" data-mdb-ripple-color="dark">
                                <i class="fas fa-basketball-ball fa-xl fa-fw"></i>
                            </a>
                            <div class="text-dark">Sport and travel</div>
                        </div>
                        <div class="col-3">
                            <a href="#" class="btn btn-outline-secondary mx-auto p-3 mb-2" data-mdb-ripple-color="dark">
                                <i class="fas fa-ring fa-xl fa-fw"></i>
                            </a>
                            <div class="text-dark">Jewellery</div>
                        </div>
                        <div class="col-3">
                            <a href="#" class="btn btn-outline-secondary mx-auto p-3 mb-2" data-mdb-ripple-color="dark">
                                <i class="fas fa-clock fa-xl fa-fw"></i>
                            </a>
                            <div class="text-dark">Accessories</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="row">
                        <div class="col-3">
                            <a href="#" class="btn btn-outline-secondary mx-auto p-3 mb-2" data-mdb-ripple-color="dark">
                                <i class="fas fa-car-side fa-xl fa-fw"></i>
                            </a>
                            <div class="text-dark">Automobiles</div>
                        </div>
                        <div class="col-3">
                            <a href="#" class="btn btn-outline-secondary mx-auto p-3 mb-2" data-mdb-ripple-color="dark">
                                <i class="fas fa-home fa-xl fa-fw"></i>
                            </a>
                            <div class="text-dark">Home items</div>
                        </div>
                        <div class="col-3">
                            <a href="#" class="btn btn-outline-secondary mx-auto p-3 mb-2" data-mdb-ripple-color="dark">
                                <i class="fas fa-guitar fa-xl fa-fw"></i>
                            </a>
                            <div class="text-dark">Musical items</div>
                        </div>
                        <div class="col-3">
                            <a href="#" class="btn btn-outline-secondary mx-auto p-3 mb-2" data-mdb-ripple-color="dark">
                                <i class="fas fa-book fa-xl fa-fw"></i>
                            </a>
                            <div class="text-dark">Book, reading</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="row">
                        <div class="col-3">
                            <a href="#" class="btn btn-outline-secondary mx-auto p-3 mb-2" data-mdb-ripple-color="dark">
                                <i class="fas fa-baby-carriage fa-xl fa-fw"></i>
                            </a>
                            <div class="text-dark">Kid's toys</div>
                        </div>
                        <div class="col-3">
                            <a href="#" class="btn btn-outline-secondary mx-auto p-3 mb-2" data-mdb-ripple-color="dark">
                                <i class="fas fa-paw fa-xl fa-fw"></i>
                            </a>
                            <div class="text-dark">Pet items</div>
                        </div>
                        <div class="col-3">
                            <a href="#" class="btn btn-outline-secondary mx-auto p-3 mb-2" data-mdb-ripple-color="dark">
                                <i class="fas fa-tshirt fa-xl fa-fw"></i>
                            </a>
                            <div class="text-dark">Men's clothing</div>
                        </div>
                        <div class="col-3">
                            <a href="#" class="btn btn-outline-secondary mx-auto p-3 mb-2" data-mdb-ripple-color="dark">
                                <i class="fas fa-shoe-prints fa-xl fa-fw"></i>
                            </a>
                            <div class="text-dark">Men's clothing</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="row">
                        <div class="col-3">
                            <a href="#" class="btn btn-outline-secondary mx-auto p-3 mb-2" data-mdb-ripple-color="dark">
                                <i class="fas fa-mobile fa-xl fa-fw"></i>
                            </a>
                            <div class="text-dark">Smartphones</div>
                        </div>
                        <div class="col-3">
                            <a href="#" class="btn btn-outline-secondary mx-auto p-3 mb-2" data-mdb-ripple-color="dark">
                                <i class="fas fa-tools fa-xl fa-fw"></i>
                            </a>
                            <div class="text-dark">Tools</div>
                        </div>
                        <div class="col-3">
                            <a href="#" class="btn btn-outline-secondary mx-auto p-3 mb-2" data-mdb-ripple-color="dark">
                                <i class="fas fa-pencil-ruler fa-xl fa-fw"></i>
                            </a>
                            <div class="text-dark">Education</div>
                        </div>
                        <div class="col-3">
                            <a href="#" class="btn btn-outline-secondary mx-auto p-3 mb-2" data-mdb-ripple-color="dark">
                                <i class="fas fa-warehouse fa-xl fa-fw"></i>
                            </a>
                            <div class="text-dark">Other items</div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </section>
    <!-- category -->
    <!-- Features -->
    <section>
        <div class="container">
            <div class="card p-3 bg-primary">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0 text-white">Best products and brands in store</h4>
                        <p class="mb-0 text-white-50">Trendy products and text to build on the card title</p>
                    </div>
                    <div class="col-auto"><a class="btn btn-white text-primary shadow-0" href="#">Discover</a></div>
                </div>
            </div>
        </div>
    </section>
    <!-- Features -->
    <!-- Product -->
    <section>
        <div class="container my-3">
            <section>
                <div class="container my-3">
                    <header class="mb-4">
                        <h3>New products</h3>
                    </header>
                    <div class="row">
                        @foreach(var product in Model)
                        {
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="card border-0 shadow my-2 card-hover">
                                    <a asp-action="Details" asp-route-productId="@product.Id">
                                        <div class="mask" style="height: 2rem;">
                                            <div class="d-flex justify-content-start align-items-start m-2">
                                                <h6><span class="badge bg-danger p-1">New</span></h6>
                                            </div>
                                        </div>
                                        <img src="@product.ImageUrl" class="card-img-top rounded-2 p-1" />
                                    </a>
                                    <div class="card-body p-1" style="height: 6rem;">
                                        <button type="button" class="btn btn-danger float-end btn-sm mb-2" data-mdb-toggle="tooltip"
                                                title="Thêm vào yêu thích">
                                            <i class="fas fa-heart"></i>
                                        </button>
                                        <h5 class="text-start m-1">@product.Price.ToString("0,0 đ")</h5>
                                        <div class="col mt-3">
                                            <p class="mb-0 product-name">@product.Name</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </section>
        </div>
    </section>
    <!-- Product -->
    <!-- Features -->
    <section>
        <div class="container">
            <div class="card p-3 bg-primary">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0 text-white">Best products and brands in store</h4>
                        <p class="mb-0 text-white-50">Trendy products and text to build on the card title</p>
                    </div>
                    <div class="col-auto"><a class="btn btn-white text-primary shadow-0" href="#">Discover</a></div>
                </div>
            </div>
        </div>
    </section>
    <!-- Features -->
    <!-- Recommended -->
    <section>
        <div class="container my-3">
            <section>
                <div class="container my-3">
                    <header class="mb-4">
                        <h3>New products</h3>
                    </header>
                    <div class="row">
                        @foreach(var product in Model)
                        {
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="card border-0 shadow my-2 card-hover">
                                    <a asp-action="Details" asp-route-productId="@product.Id">
                                        <div class="mask" style="height: 2rem;">
                                            <div class="d-flex justify-content-start align-items-start m-2">
                                                <h6><span class="badge bg-danger p-1">New</span></h6>
                                            </div>
                                        </div>
                                        <img src="@product.ImageUrl" class="card-img-top rounded-2 p-1" />
                                    </a>
                                    <div class="card-body p-1" style="height: 6rem;">
                                        <button type="button" class="btn btn-danger float-end btn-sm mb-2" data-mdb-toggle="tooltip"
                                                title="Thêm vào yêu thích">
                                            <i class="fas fa-heart"></i>
                                        </button>
                                        <h5 class="text-start m-1">@product.Price.ToString("0,0 đ")</h5>
                                        <div class="col mt-3">
                                            <p class="mb-0 product-name">@product.Name</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </section>
            <!-- Products -->
        </div>
    </section>
    <!-- Recommended -->
</div>