@model List<Category>
@{
    ViewData["Title"] = "Quản lý danh mục";
}
<div class="card w-100">
    <div class="card-title bg-primary text-center text-light p-3">
        <h4>QUẢN LÝ DANH MỤC</h4>
    </div>
    <div class="table-responsive">
        <div class="card-body">
            <a asp-controller="Category" asp-action="Create" class="btn btn-outline-success">Thêm danh mục</a>
            <hr/>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col" class="col-md-6">Tên danh mục</th>
                        <th scope="col" class="col-md-2">Thứ tự hiển thị</th>
                        <th scope="col" class="col-md-2">Hình ảnh thu nhỏ</th>
                        <th scope="col" class="col-md-2" colspan="2">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model)
                    {
                        <tr>
                            <td scope="row">@item.Name</td>
                            <td>@item.DisplayOrder</td>
                            <td>@item.Thumbnail</td>
                            <td class="col-md-1 text-center">
                                <a asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Sửa</a>
                            </td>
                            <td class="col-md-1 text-center">
                                <a asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Xóa</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>